!.gitignore
*pyc
*~
#*#
*log
*.log.*
cookies
*.DS_Store
*.pyc
__pycache__/
nb-configuration.xml
*.sqlite
*.sqlite3
venv/
.vscode/
.scannerwork/
docs/build/
.env
.idea
history/

auth.txt
.env.rc
uwsgi.ini
statics

dist/
build/
exchanger.egg-info/

*.pvt
*pvt
test.txt

*egg-info/
